<template>
	<div id="auth">
		<p class="warn" v-if="warn">{{ warn }}</p>
		<input type="text" v-model="memberid" placeholder="Member ID">
		<input type="text" v-model="passhash" placeholder="Password hash">
		<button type="button" @click.prevent="authenticate">Authenticate</button>
	</div>
</template>

<script>
import store from '../store'
import router from '../router'

export default {
	name: 'auth',
	data() {
		return {
			passhash: "",
			memberid: "",
			warn: "",
		}
	},
	methods: {
		async authenticate() {
			this.warn = ""
			store.state.spinner = true

			var f = await fetch("auth", {
				body: `passhash=${this.passhash}&memberid=${this.memberid}`,
				method: "post",
			})

			store.state.spinner = false

			if (!f.ok) {
				this.warn = f.text
			} else {
				router.push('home')
			}
		},
	},
	beforeMount() {
		// eslint-disable-next-line
		console.log(this)

		// if (this.$cookie.get("ipb_session_id") != "") {
		// 	router.push('home')
		// }
	}
}
</script>
