<template>
	<div id="home">
		<header class="header"></header>
		<aside class="sidenav"></aside>
		<main class="main"></main>
	</div>
</template>

<script>
export default {
	name: 'home',
}
</script>

<style>
#home {
	display: grid;
	grid-template-columns: 240px 1fr;
	grid-template-rows: 50px 1fr 50px;
	grid-template-areas: "sidenav header" "sidenav main";
	height: 100vh;
}

.header {
	grid-area: header;
	background-color: #34353b;
}

.sidenav {
	grid-area: sidenav;
	background-color: #222226;
}

.main {
	grid-area: main;
	background-color: #4f535b;
}
</style>
