<template>
	<div id="app">
		<div id="spinner" v-if="this.$store.state.spinner">
			<div class="object"></div>
		</div>
		<router-view/>
	</div>
</template>

<script>
/* eslint-disable */
import router from './router'

if (this.$cookie.get("ipb_session_id") == "") {
	router.push('auth')
}
</script>

<style>
#app {
	font-family: "Overpass", Helvetica, "Segoe UI", "Noto Sans", sans-serif;
	background-color: #4f535b;
	color: #dbdbdb;
}

#spinner {
	margin: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	position: fixed;
	align-items: center;
	justify-content: center;
}

#spinner div.object {
	border: 1vh solid rgba(255, 255, 255, 0.1);
	border-radius: 50%;
	border-top: 1vh solid rgba(255, 255, 255, 0.95);
	width: 10vh;
	height: 10vh;
	animation: spin 1s cubic-bezier(0.35, 0.74, 0.35, 0.74) infinite;
}

@keyframes spin {
	0% {
		transform: rotate(-20deg);
	}
	100% {
		transform: rotate(340deg);
	}
}
</style>
